#divVista1{
    background-color: pink;
}
#divVista2{
    background-color: rgb(171, 171, 216);
}
#divVista3{
    background-color: red;
}
body >div {
    display:none;
}

#divVista1 > p{
    cursor:pointer;
}
#divVista1 > p:hover{
    cursor:pointer;
    text-decoration:underline;
}